<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <form action=<%="#{new_user_path}"%> method="get">
      Username: <input type="text" name="fname"><br>
      E-mail: <input type="email" name="email"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Submit">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>
  </body>
</html> -->
<%= form_for @user do |form|%>
<div class="field">
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>
<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>
<div class="field">
  <%= form.label :password %>
  <%= form.text_field :password %>
</div>

<div class="action">
  <%= form.submit %>
</div>
<% end %>
